{% load i18n %}
{% if is_drose_brand %}
{% blocktrans %}We received a request to reset the password for your Gadly account (used for Gadly tools and Drose Drone Services).

Use the link below to choose a new password and restore access to your account:{% endblocktrans %}
{% else %}
{% blocktrans %}We received a request to reset the password for your {{ site_name }} account.

Use the link below to choose a new password and restore access to your account:{% endblocktrans %}
{% endif %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm_short' uidb64=uid token=token %}

{% blocktrans %}Your username:{% endblocktrans %} {{ user.get_username }}

{% if is_drose_brand %}
{% blocktrans %}For your security, this link is valid for a limited time.
If you didn't request this, you can safely ignore this email.

Best regards,
Drose Drone Services{% endblocktrans %}
{% else %}
{% blocktrans %}For your security, this link is valid for a limited time.
If you didn't request this, you can safely ignore this email.

Best regards,
Gadly Support{% endblocktrans %}
{% endif %}
