{% load i18n %}
{% blocktrans %}We received a request to reset the password for your {{ site_name }} account.

Use the link below to choose a new password and restore access to your account:{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm_short' uidb64=uid token=token %}

{% blocktrans %}Your username:{% endblocktrans %} {{ user.get_username }}

{% blocktrans %}For your security, this link is valid for a limited time.
If you didn't request this, you can safely ignore this email.

Best regards,
Gadly Support{% endblocktrans %}
